<app-home-navbar></app-home-navbar>


<section class = "flex-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Register Client</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://img.freepik.com/vector-premium/joven-dibujos-animados_24908-32949.jpg?w=360" alt="Client" class="img">
    <mat-card-actions>
      <button [routerLink]="'/register-client'"
              mat-raised-button
              color="primary">
        Register Client
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Register Technician</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://lineablancast.com.co/images/BANNER_01.jpg" alt="Tech" class="img">
    <mat-card-actions>
      <button [routerLink]="'/register-technician'"
              mat-raised-button
              color="primary">
        Register Technician
      </button>
    </mat-card-actions>
  </mat-card>

</section>


